<div class="article__footer__comment">
  <div class="article__footer__author">
    <img class="article__footer__author__avatar" src="<%= url_for(comment.user.avatar) %>" alt="Avatar">
    <%= comment.user.username %>
  </div>
  <div class="article__footer__title"><%= comment.body %></div>
</div>

<!--<p>-->
<!--  <strong>Commenter:</strong>-->
  <%#= comment.user.username %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Comment:</strong>-->
  <%#= comment.body %>
<!--</p>-->

