<%= form_with model: [ article, article.comments.build ] do |form| %>
  <div class="comment__form">
    <%= form.text_area :body, rows: 1, class: "comment__input", placeholder: "Add comment" %>
    <%= form.submit %>
  </div>
<% end %>